<html>
<head><style>
        td {
            font-size: 15pt;
        }

        #add_table {
            width: 70%;
            border: 1px solid black;
            margin: auto;
            border-collapse: collapse;
        }

        .col {
            border: 1px solid black;
            width: 50%;
            text-align:center;
        }
    </style></head>
<body><table id="add_table">
<caption><h1>&#1058;&#1072;&#1073;&#1083;&#1080;&#1094;&#1072; &#1074;&#1099;&#1074;&#1086;&#1076;&#1072;</h1></caption>
<tbody><tr>
<td class="col">1 2 3 4 5</td>
<td class="col">5</td>
<td class="col">5</td>
<td class="col">1</td>
</tr></tbody>
</table></body>
</html>
